[Unit]
Description=PePeRS - All Services
Wants=rp-discovery.service rp-analyzer.service rp-extractor.service rp-validator.service rp-codegen.service rp-orchestrator.service

[Install]
WantedBy=default.target
